@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error, status code @Model.ErrorCode</h1>
@if (Model.ErrorCode == 400)
{
    <h2>Bad request.</h2>
}
else if (Model.ErrorCode == 403)
{
    <h2>The action is unauthorized.</h2>
}
else if (Model.ErrorCode == 404)
{
    <h2>The specified resource cannot be found.</h2>
}
else if (Model.ErrorCode == 500)
{
    <h2>An internal server error has occured.</h2>
}
else
{
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}

<a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Back to the start page</a>


