@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library Manager deluxe</h1>
    <p>Manage some library items until your heart's content, or delete a category or two if you can!</p>
    <a class="nav-link" asp-controller="LibraryItems" asp-action="Index">Manage the library items</a>
    <a class="nav-link" asp-controller="Categories" asp-action="Index">Create the categories</a>


</div>
