@model LibraryManager.Models.ViewModels.BorrowItemViewModel

@{
    ViewData["Title"] = "Borrow Item";
}

<h1>Edit</h1>

<h4>LibraryItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Borrow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<input type="hidden" asp-for="@Model" value="@Model"  />*@

            <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />

            <div class="form-group">
                <label asp-for="Borrower" class="control-label"></label>
                <input asp-for="Borrower" class="form-control" />
                <span asp-validation-for="Borrower" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Borrow" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
